.container {
  max-width: 1440px;
  margin: auto;
  /* padding: 40px 20px; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  max-height: 1040px;
  padding: 0 120px;
  padding-bottom: 104px;
  /* gap: 72px;
  padding-left: 120px;
  padding-top: 84px;
  border-radius: 19px;
  background: var(--white); */
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 72px;
  padding-top: 84px;
}

.img {
  width: 100%;
  height: 512px;
  background-color: magenta;
  border-radius: 19px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding-top: 104px;
}
